@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Quicksand:wght@300&display=swap');

*{
    font-family: 'Quicksand', sans-serif!important;
}
/* .aqua{
    background-color: black;
}
.counter
{
    background-color: #eaecf0;
    text-align: center;
}
.employees,.customer,.design,.order
{
    margin-top: 70px;
    margin-bottom: 70px;
}
.counter-count
{
    font-size: 18px;
    background-color: #00b3e7;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

.employee-p,.customer-p,.order-p,.design-p
{
    font-size: 24px;
    color: #000000;
    line-height: 34px;
}






body{
    font-size:18px;
    font-weight: 400;
}
.p-y-2 {
padding-top: 28px;
padding-bottom: 28px;
}
.p-y-3 {
padding-top: 45px;
padding-bottom: 45px;
}
.m-b-1 {
margin-bottom: 18px; 
}
.m-t-1 { 
margin-top: 18px;
}

.main_counter_area{
    
    background-size: cover;
    overflow: hidden;
}
.main_counter_area .main_counter_content .single_counter{
    background: #000000;
        color: #fff;
}
.main_counter_area .main_counter_content .single_counter i{
    font-size:36px;
} */
.counter-section i { display:block; margin:0 0 10px}
.counter-section span.counter { font-size:40px; color:#000; line-height:60px; display:block; font-family: "Oswald",sans-serif; letter-spacing: 2px}
.counter-title{ font-size:12px; letter-spacing:2px; text-transform: uppercase}
.counter-icon {top:25px; position:relative}
.counter-style2 .counter-title {letter-spacing: 0.55px; float: left;}
.counter-style2 span.counter {letter-spacing: 0.55px; float: left; margin-right: 10px;}
.counter-style2 i {float: right; line-height: 26px; margin: 0 10px 0 0}
.counter-subheadline span {float: right;}  

.medium-icon {
    font-size: 40px !important;
    margin-bottom: 15px !important;
} 

.container{
    margin-top:200px;
}

/* 
:root {
    --topbar-color: white;
    --sidebar-bg-color: darkgray;
    --sidebar-color: white;
    --sidebar-link-color: orange;
  }
  
  section[data-css="sidebar"] {
    background-color: var(--sidebar-bg-color) !important;
    color: var(--sidebar-color);
    border: none;
  }
  
  section[data-css="sidebar"] svg {
    fill: var(--sidebar-color) !important;
  }
  
  a[data-css="sidebar-logo"] {
    background-color: var(--sidebar-bg-color) !important;
  }
  
  section[data-css="sidebar-resources"] {
    background: var(--sidebar-bg-color) !important;
  }
  
  [data-css="sidebar"] section a {
    background: var(--sidebar-bg-color) !important;
    color: var(--sidebar-color);
  }
  
  [data-css="sidebar"] a:hover {
    color: var(--sidebar-link-color);
  } */


  /* a[data-css="Income-new-button"] {
    background-color: #FAC515 !important;
  } */
/* 
  [data-css="app-content"] section section section section section  a:first-child {
    background: #FAC515 !important;
    color: var(--sidebar-color);
  } */